<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>746477720825-ef6p1t50eo6jkg28l0rvit00orteq8b6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.746477720825-ef6p1t50eo6jkg28l0rvit00orteq8b6</string>
	<key>API_KEY</key>
	<string>AIzaSyAxWY3J45rJ9-iOiPKY5EjzRzAjEqBeX_w</string>
	<key>GCM_SENDER_ID</key>
	<string>746477720825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edesedas.testfirebasepush</string>
	<key>PROJECT_ID</key>
	<string>test-push-notifications-41d08</string>
	<key>STORAGE_BUCKET</key>
	<string>test-push-notifications-41d08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746477720825:ios:6fba5f022dd55b86ddfe28</string>
</dict>
</plist>